    .header{
        display: flex;
        padding: 10px;
        display: flex;
        justify-content: space-between;
            background-color: skyblue;
            color: black;
        }
        .footer{
            background-color: pink;
            color: black;
        }
        .container {
            margin: 0px;
        }
        * {
            margin: 0px;
        }
        .menu {
            display: flex;
        }
        .menu li{
            list-style: none;
            margin: 5px;
        }
        .menu li a{
            text-decoration: none;
            margin: 5px;
        }